html, body {
  height:100%;
}

body {
  font-family: 'Open Sans';
}

footer {
  background: #333;
  color: white;
  padding:20px;
  height:60px;
  text-align:center;
  position:relative;
}

footer a, footer a:hover {
  color: white;
}

h1 {
  font-weight:700;
}

#controls {
  background: #333;
  padding: 20px;
  color:white;
  border-radius:20px;
  max-width:600px;
  margin:0 auto;
}

#controls #datepicker {
  color:black;
  width:60%;
  margin:10px 0;
}

.container {
  text-align:center;
  min-height: 100%;
  margin:0 auto -60px;
  position:relative;
  padding-bottom: 30px;
}

.upcoming-comics {
  display: inline-flex;
  width:100%;
  padding-top:30px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom:30px;
}

.flex-item {
  text-align:center;
  padding:0px;
  margin:10px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 200px;
  height: 300px;
  position: relative;
}

.caption {
  position:absolute;
  font-size:0.9em;
  bottom:0;
  width:100%;
  opacity:0;
  height:100%;
		-webkit-transition:all 0.15s ease-in-out;
		-moz-transition:all 0.15s ease-in-out;
		-o-transition:all 0.15s ease-in-out;
		-ms-transition:all 0.15s ease-in-out;
		transition:all 0.15s ease-in-out;
}

.caption p {
  height:50%;
  padding:10px 5px;
  position:absolute;
  bottom:0;
  width:100%;
  color:white;
  text-align:center;
  background: rgba(0, 0, 0, 0.8);
  margin:0;
}

.caption a {
  color: white;
}

.caption:hover {
  opacity:1;
  height:90%;
}

.hidden {
  display:none;
}

@media (max-width:767px) {

  .caption {opacity:1;}
  .caption:hover {height:100%;}

}
